@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kanit&display=swap');
:root {
    --red: #F00000;
    --white: #FFFFFF;
    --fone: #191e35;  
    font-family: 'Architects Daughter', cursive;
    font-family: 'Kanit', sans-serif;
}

body {
    margin:auto;
    padding:auto;
    font-family: 'Kanit', sans-serif;
    background-color:#191e35;
}

.overheader {
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.width-logo {
  width: 221px;
  height: 58px;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.button {
    font-family: Poppins, serif;
    padding: 0.35em 1.2em;
    border: 0.1em solid orangered;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: orangered;
}
 
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.button:hover {
    font-family: Poppins, serif;
    padding: 0.35em 1.2em;
    border: 0.1em solid #191e35;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: red;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: #191e35;
}

.section-first {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 250px;
    background: url(../img/background.jpeg);
    background-size: contain;
    background-position: center;
}

.name-logo {
    font-family: Poppins, serif;
    color: orangered;
    font-size: 96px;
    display:flex;
    justify-content: center;
}

.subheading-logo {
    font-family: Poppins, serif;
    color:white;
    font-size: 24px;
    display:flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 30px;
}

.about-us-table {
    display: flex;
}

.d-block {
    max-width: 400px;
}

.table-one {
    margin-right:120px;
    color:whitesmoke;
    font-size:24px;
    background-color: rgba(255, 68, 0, 0.603);
    border-radius: 5px;
}

.table-two {
    margin-left:120px;
    color:whitesmoke;
    font-size:24px;
    background-color: rgba(255, 68, 0, 0.603);
    border-radius: 5px;
}


.why-choose-text {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 70px;
}

.carousel-indicators{
    display: flex;
    justify-content: center;
}
.workers-why-choose {
    width: 670px;
    height: 337px;
    margin-left:600px;
}

ul {
    margin-top:50px;
    color:white;
    font-size:16px;
    display:flex;
    justify-content: space-between;
}

hr {
    color: orangered;
    height: 5px;
}

.certeficates-name {
    color:whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.certeficates {
    width: 310px;
    height: 250px;
    margin-left: 125px;
}

.text-gallery {
    color:whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.work-one {
    width: 270px;
    height: 270px;
    margin-right: 50px;
    margin-left: 50px
}

.work-two {
    width: 470px;
    height: 270px;
    margin-right: 50px;
}

.work-three {
    width: 370px;
    height: 270px;
    margin-right: 50px;
}

.work-four {
    width: 470px;
    height: 270px;
    margin-right: 50px;
}

.work-five {
    width: 370px;
    height: 270px;
    margin-top: 50px;
    margin-left:750px;
}

.text-contact {
    color:whitesmoke;
    margin-left:150px;
}

.table-three {
    color: whitesmoke;
    font-style:italic;
    margin-left:150px;
}

.table-four {
    color: whitesmoke;
    font-style:italic;
    margin-left:150px;
}

.free-consultation {
    display: flex;
    justify-content: center;
}

.free-consultation-form {
    margin-top: 100px;
    margin-bottom: 50px;
}
    
.lower-menu {
    display: flex;
    justify-content: space-around;
    align-items:flex-start; 
}
footer {
    background-color:rgba(92, 94, 102, 0.733); 
}


.lower-nav {
    display: flex;
    flex-direction: column;
}

.lower-two-nav {
    display: flex;
    flex-direction: column;
}

.p-footer {
    margin-left:390px;
    margin-top:25px;
    font-family: inherit;
}

.img-footer {
    width: 210px;
    height: 58px;
}

.icon-footer {
    display:flex;
    justify-content: flex-end;
    margin-right: 250px;
}

.end-footer {
    display: flex;
}

.end-p {
    display: flex;
    justify-content: flex-end;
}